.content {
  padding: 0 20px 20px 20px;
  overflow: auto;
  background-color: snow;
}
.rigthcontent {
  float: right;
  width: 30%;
  padding-left: 20px;
}
.leftcontent {
  float: left;
  width: 70%;
}

.banner_img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.banner {
  margin: 0 30px 30px 30px;
  display: flex;
  height: auto;
  overflow: hidden;
}

@media screen and (max-width: 854px) {
  .leftcontent,
  .rigthcontent {
    width: 100%;
    padding: 0;
  }
  .banner {
    margin: 0;
  }
}
